.Order {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 10px;
}

.ButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.Button {
  box-sizing: border-box;
  padding: 16px;
  background-color: orangered;
  color: #000;
  cursor: pointer;
}

.Button:hover {
  background-color: crimson;
}

.Disabled {
  cursor: not-allowed;
  background-color: darkgray;
}

.Disabled:hover {
  background-color: darkgray;
}
