.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* A value smaller than z-index of the modal, since this will be behind the modal */
  z-index: 100;
}
