.Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  /* Lower than bothe the backdrop(100) and modal(500) (modal on backdrop on navbar)*/
  z-index: 90;
  background-color: #703b09;
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Toolbar nav {
  height: 100%;
}

/* Hiding the tool bar on mobile devices */
@media (max-width: 499px) {
  .HideOnMobile {
    display: none;
  }
}
